name: Eureka Server - Docker CI

on:
  push:
    branches: [ "main" ]
  workflow_dispatch: 

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Build and push to Docker Hub
        run: |
          docker build . --file Dockerfile -t ${{ secrets.DOCKERHUB_USERNAME }}/eurekaserver:latest .
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/eurekaserver:latest
